{% extends 'base.html.twig' %}

{% block navbar %}

    <div class="sidebar-container">
        <div class="sidebar-logo d-flex justify-content-center" style="background:linear-gradient(100deg, #ff6ec4, #7873f5)">
            <img src="{{ asset('/build/Logo-footer.svg') }}" class="super-logo" alt="Neymo">
        </div>
        <ul class="sidebar-navigation d-flex justify-content-between flex-column">
            <li class="header">Super-Admin</li>
            <li>
                <a href="{{ path('superadmin_governance_index') }}">Gouvernances</a>
            </li>     

            <li class="super-admin-logout ">
                <a href="{{ path('admin_logout') }}" class="logout">Se déconnecter</a>
            </li>
        </ul>
    </div>

{% endblock %}
