nelmio_api_doc:
    areas:
      path_patterns: [ ^/api ]
    documentation:
      host: https://localhost
      schemes: [http, https]
      info:
        title: Neymo API
        description: Neymo API documentation
        version: 1.0.0
      securityDefinitions:
        Bearer:
          type: apiKey
          description: 'Value: Bearer {jwt}'
          name: Authorization
          in: header
      security:
        - Bearer: []