<form method="post" action="{{ path('governance_user_information_delete', {'id': governance_user_information.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ governance_user_information.id) }}">
    <button class="btn">Delete</button>
</form>
