{% extends 'base.html.twig' %}

{% block title %}New GovernanceUserInformation{% endblock %}

{% block content %}
    <h1>Create new GovernanceUserInformation</h1>

    {{ include('superAdmin/governanceUserInformation/_form.html.twig') }}

    <a href="{{ path('governance_user_information_index') }}">back to list</a>
{% endblock %}
