{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
<h2>Créer un administrateur pour la gouvernance</h2>
{{ form_start(form) }}
<label for="firstName">Prénom </label>
    <input type="firstName" name="firstName" required>
     <label for="lastName">Nom </label>
    <input type="text" name="lastName" required>
    <label for="role">Role dans la gouvernance </label>
    <input type="text" name="role"  required>

    {{ form_widget(form) }}
{{ form_end(form) }}
</div>
{% endblock %}