@import "~bootstrap/scss/bootstrap";


/*  LOGIN FORM  */
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
  background-color: #fff;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-gradient {
  background: linear-gradient(100deg,#2E382E, #50C9CE);
}


/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

/*  END LOGIN FORM  */

/* BACK-OFFICE ADMIN */
h2 {
  padding: 40px 0px;
}
p {
  padding-left: 10px;
}
input {
  height: 50px;
  width: 400px;
  padding: 0px 20px;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(158, 186, 177, 0.71);
  margin: 10px 0px;
}
label {
  display: block;
  font-weight: 600;
  font-size: 0.875rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-bottom: 0.2rem;
  color: rgb(113, 128, 150);
  margin: 5px 0px;
}
img {
  margin-left: 40px;
}
button {
  border: none;
  background: none;
  &:active {
    border:none
  }
  &:focus {
    border:none
  }
  &:hover {
    border:none
  }
}

.logo {
  max-height: 55px;
  width: auto;
}
.btn-neymo {
  border-radius: 15px;
  padding: 15px 20px;
  transition-duration: 0.2s;
  min-width: 200px;
  max-width: 270px;
  max-height: 56px;
  font-size: 16px;
  color: #fff !important;
  &:hover {
    margin-top: 4px;
    text-decoration: none;
    color: #fff;
  }
  &:active {
    margin-top: 4px;
    box-shadow: none;
  }
}
.btn-create {
  background-color: #189b73;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(139,205,185,1);
  -moz-box-shadow: 0px 5px 0px 0px rgba(139,205,185,1);
  box-shadow: 0px 5px 0px 0px rgba(139,205,185,1);
  &:hover {
    -webkit-box-shadow: 0px 1px 0px 0px rgba(139,205,185,1);
    -moz-box-shadow: 0px 1px 0px 0px rgba(139,205,185,1);
    box-shadow: 0px 1px 0px 0px rgba(139,205,185,1);
    background-color: rgba(24,155,116,1);
  }
}

.btn-delete {
  background-color: #D16228;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(227,171,143,1);
  -moz-box-shadow: 0px 5px 0px 0px rgba(227,171,143,1);
  box-shadow: 0px 5px 0px 0px rgba(227,171,143,1);
  &:hover {
    -webkit-box-shadow: 0px 1px 0px 0px rgba(227,171,143,1);
    -moz-box-shadow: 0px 1px 0px 0px rgba(227,171,143,1);
    box-shadow: 0px 1px 0px 0px rgba(227,171,143,1);
    background-color: #D16228;
  }
}

.td-id {
  font-weight: bold;
}
.nav-bar {
  background-color: #8BCDB9;
  color: #fff;
}
.neymo-table {
  border: 1px solid #dee2e6;
}

.logout {
  color: #D16228 !important;
  &:hover {
    color: #e3ab8f;
  }
}
.details {
  text-decoration: underline;
  color: #189B73;
  &:hover {
    color: #47AD8E;
  }
}

/* END BACK-OFFICE ADMIN */

/* BACK-OFFICE SUPERADMIN */
.jumbotron {
  background-color: #fff !important;
}
/* END BACK-OFFICE SUPERADMIN */

/*  NAVBAR  */
.sidebar-container {
  position: fixed;
  width: 220px;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.content-container {
  padding-top: 20px;
  border-right: solid 5px #dee2e6;
}

.sidebar-logo {
  padding: 10px 15px 10px 30px;
  font-size: 20px;
  background: #fff !important;
}

img.super-logo {
  margin-left: 0 !important;
}

a {
  color: #189B73 !important;
  &:hover {
    color: #fff !important;
  }
}

.sidebar-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}

.sidebar-navigation li {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 20px;
}

.sidebar-navigation li a {
  padding: 10px 15px 10px 30px;
  display: block;
}

.sidebar-navigation li .fa {
  margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
  text-decoration: none;
  outline: none;
}

.sidebar-navigation li::before {
  background-color: #47AD8E;
  position: absolute;
  content: '';
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}
.sidebar-navigation li.super-admin-logout::before {
  background: #D16228;
  position: absolute;
  content: '';
  height: 100%;
  left: 0;
  top: 0;
  color: #fff !important;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}

.sidebar-navigation li:hover::before {
  width: 100%;
}

.sidebar-navigation .header {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  background-color: #189B73;
  padding: 10px 15px 10px 30px;
}

.sidebar-navigation .header::before {
  background-color: transparent;
}

.content-container {
  padding-left: 220px;
}

/*  END NAVBAR  */