{% extends 'base.html.twig' %}

{% block title %}New Governance{% endblock %}

{% block content %}
    <h1>Create new Governance</h1>

    {{ include('governance/_form.html.twig') }}

    <a href="{{ path('governance_index') }}">back to list</a>
{% endblock %}
