{% extends 'base.html.twig' %}

{% block content %}
    <div class="mb-3">
        <a href="{{ path('governance_index') }}">Governances</a>
        <a href="{{ path('governance_user_information_index') }}">Governances User</a>
    </div>
{% endblock %}