{% extends 'base.html.twig' %}
{% block content %}
    <div class="content-container">
        <div class="container-fluid">
            <div class="jumbotron">
                {% include 'superAdmin/governance/index.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}