{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <h2>Modifier mon profil</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}