{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block content %}
<div class="container">

<h2>Votre profil</h2>
    <label>Prénom</label>
    <p>{{ profile.firstName }}</p>
    <label>Nom</label>
    <p>{{ profile.lastName }}</p>
    <label>Rôle</label>
    <p>{{ profile.role }}</p>
    <a class="btn-neymo btn-create" href="{{ path('admin_profile_edit') }}">Modifier</a>
</div>
{% endblock %}
